{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block title_bread %}{% endblock %}
{% comment %}
{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}
{% endcomment %}
{% block extra_css%}
<style type="text/css">
@media screen and (min-width: 481px) {
	
	#section1 {
		background-image:url(http://www.davis.ca/uploads/images/Montreal%20_%20Student%20Rack%20Card.jpg);
	}
	
}
.btn-inverse{
	background-color:rgb(43, 144, 192);
}
.service:hover {

border-bottom: 5px rgb(43, 144, 192) solid;
}
#section4 ul.article-tags li:hover, #section4 ul.article-tags li.current {
background-color: rgb(43, 144, 192);
color: #ecf0f1;
}
</style>
{% endblock %}
{% block body %}
<div id="wrapper">
			<div id="sidebar">
				<a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
				<nav id="nav" class="navigation" role="navigation">
					<ul class="unstyled">
						<li class="active" data-section="1"><i class="icon-home"></i> <span>Accueil</span></li>
						{% comment %}
						<li data-section="2" class=""><i class="icon-rocket"></i> <span>Services</span></li>
						<li data-section="3" class=""><i class="icon-laptop"></i> <span>Projets</span></li>
						<!-- <li data-section="6" class=""><i class="icon-money"></i> <span>Prix</span></li> -->
						<li data-section="4" class=""><i class="icon-pencil"></i> <span>L'Equipe</span></li>
						{% endcomment %}
						<li data-section="5" class="last"><i class="icon-envelope"></i> <span>Contact</span></li>
					</ul>
				</nav><!-- /nav -->
			</div><!-- /sidebar -->
			
			<div id="container">
										
				<section class="section" id="section1" data-section="1">
					
					<div class="container-fluid">
						<div class="row-fluid">
							<div id="logo">
								<img src="{{ STATIC_URL }}img/hp.png" alt="">
							</div>
						</div>
					</div>
				
					<div class="container-fluid">	
						<div class="row-fluid">
							
							<div class="span12 intro">
								<hgroup>
									<h1>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}</h1>
								</hgroup>
								<span class="btn btn-info btn-large btn-block" style="font-size:30px">Faire de chaque Recrutement un <span>Succes !</span></span>
								<span class="btn-warning">Le site est en cours de construction</span>
							</div><!-- /span6 -->
							
						</div><!-- /row-fluid -->
					</div><!-- /container-fluid -->	
				</section><!-- /section -->

					<div id="welcome">
						{% nevercache %}
						{% for message in messages %}
						<div class="alert alert-{{ message.tags }}" data-alert="alert">
						<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message|safe }}
						</div>
						{% endfor %}
						{% endnevercache %}
						<div class="container-fluid">
							<div class="row-fluid">
								<div class="span12">
									<h2>{% if settings.SITE_TAGLINE %}{{ settings.SITE_TAGLINE }}{% endif %}</h2>
								</div>
							</div>
						
						</div>
					</div>


				{% comment %}
				<section class="section" id="section2" data-section="2">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>Services</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						
						<div class="row-fluid desc">
							<div class="span8">
								<p>Good design works on an intellectual and emotional level, and is the intersection of your business goals with your user needs. We look for this sweet spot with every project in order to deliver a simple, elegant solution.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						
						<div class="row-fluid content">
							<div class="span12">
								<div class="row-fluid">
									<div class="span4 service">
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/service_creative.png" alt=""></p>
										<p><b>CREATIVE</b></p>
										<ul>
							                <li>Website Design</li>
							                <li>Website Development</li>
							                <li>Content Management Systems</li>
							                <li>E-Commerce</li>
							            </ul>
							            <br>
									</div>
									
									<div class="span4 service">
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/service_development.png" alt=""></p>
										<p><b>DEVELOPMENT</b></p>
										<ul>
							                <li>Website Design</li>
							                <li>Website Development</li>
							                <li>Content Management Systems</li>
							                <li>E-Commerce</li>
							            </ul>
							            <br>
									</div>
									
									<div class="span4 service">
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/service_production.png" alt=""></p>
										<p><b>PRODUCTION</b></p>
										<ul>
							                <li>Website Design</li>
							                <li>Website Development</li>
							                <li>Content Management Systems</li>
							                <li>E-Commerce</li>
							            </ul>
							            <br>
									</div>
									
									
								</div><!-- /row-fluid -->	
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
					</div><!-- /container -->
				</section><!-- /section -->	
				
				<section class="section" id="section3" data-section="3">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>Projets</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone alt">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						
						<div class="row-fluid content slide center">
							<div class="span4">
								<img src="http://www.basicoh.com/demo/flat/agency/img/project01.png" alt="Project 01">
								<h6 class="hidden-phone">Wonderful Sky</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								<button class="btn-inverse">
									Read <span>More</span>
									<i class="icon-plus"></i>
								</button>
							</div><!-- /span4 -->
							
							<div class="span4">
								<img src="http://www.basicoh.com/demo/flat/agency/img/project02.png" alt="Project 02">
								<h6 class="hidden-phone">Ride Your Bike</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								<button class="btn-inverse">
									Read <span>More</span>
									<i class="icon-plus"></i>
								</button>
							</div><!-- /span4 -->
							
							<div class="span4">
								<img src="http://www.basicoh.com/demo/flat/agency/img/project03.png" alt="Project 03">
								<h6 class="hidden-phone">All You Need Is Love</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								<button class="btn-inverse">
									Read <span>More</span>
									<i class="icon-plus"></i>
								</button>
							</div><!-- /span4 -->
							
						</div><!-- /row-fluid -->	
					</div><!-- /container -->
				</section><!-- /section -->
				
				
				
				
				<div id="twitter" class="hidden-phone">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span12">
								<h2>Our Tweets!</h2>
								<h4><bold>@Basicoh_</bold>: It is time to enjoy this amazing theme. Flat & Scroll</h4>
								<p><bold> May 20, 2013</bold></p>
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
					</div><!-- /container-fluid -->
				</div>
				
				
				<section class="section" id="section4" data-section="4">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>L'équipe</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid desc">
							<div class="span8">
								<p>We are a team of equal contributors who speak openly and honestly with clients, and who take the practice of transparency so seriously that we work in an office with glass walls. We share successes as a team, and we test until work is perfect. We can show where our time goes, and more importantly, what our time creates.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid content">
							<div class="span4">
								<ul class="article-tags">
									<li data-blog="bob" class="current"><i class="icon-user"></i>Bob Singer</li>
									<li data-blog="mark"><i class="icon-user"></i>Mark Sinclair</li>
									<li data-blog="laura"><i class="icon-user"></i>Laura Gates</li>
						            <li data-blog="jane"><i class="icon-user"></i>Jane White</li>
					            </ul>
							</div><!-- /span4 -->
							
							<div class="span8 slide current" data-blog="bob">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Bob Singer</h4>
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/i01.jpg" alt=""></p>
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>About</h4>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
										<p><i class="icon-twitter"></i> @bobsinger</p>
										<p><i class="icon-envelope-alt"></i> bob@yoursite.com</p>
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="mark">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Mark Sinclair</h4>
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/i02.jpg" alt=""></p>
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>About</h4>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
										<p><i class="icon-twitter"></i> @marksinclair</p>
										<p><i class="icon-envelope-alt"></i> mark@yoursite.com</p>
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="laura">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Laura Gates</h4>
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/i03.jpg" alt=""></p>
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>About</h4>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
										<p><i class="icon-twitter"></i> @lauragates</p>
										<p><i class="icon-envelope-alt"></i> laura@yoursite.com</p>
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="jane">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Jane White</h4>
										<p><img src="http://www.basicoh.com/demo/flat/agency/img/i04.jpg" alt=""></p>
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>About</h4>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
										<p><i class="icon-twitter"></i> @janewhite</p>
										<p><i class="icon-envelope-alt"></i> jane@yoursite.com</p>
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
																			
						</div><!-- /row-fluid -->
					</div><!-- /container -->
				</section><!-- /section -->
				{% endcomment %}
				
				
				<section class="section" id="section5" data-section="5">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>Contact</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone alt">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid content">
							<div class="span4">
								<h4 class="intro">CONTACTEZ-NOUS</h4>
								<p>Vous avez une suggestion, ou une simple question ? Contactez-nous, un membre de la team Horizon Plus vous répondra dans les plus brefs délais.</p>
								<div class="row-fluid alt">
									<h5>Email:</h5>
									<span>{{ SITE_EMAIL }}</span>
								</div><!-- /row -->
								<div class="row-fluid alt">
									<h5>Phone:</h5>
									<span>{{ SITE_PHONE }}</span>
								</div><!-- /row -->
								{% comment %} 
								<div class="row-fluid alt">
									<h5>Twitter:</h5>
									<span><a href="http://www.twitter.com/basicoh_" rel="external">{{ TWITTER }}</a></span>
								</div><!-- /row -->
								{% endcomment %}
							</div><!-- /span4 -->
							
							<div class="span8">
							
								<div class="row-fluid">
									<div class="span12">
									</div><!-- /span12 -->
								</div><!-- /row-fluid -->
								
								<form method="POST" action="{% url 'contact' %}">{% csrf_token %}
									
									<div class="row-fluid">
										<div class="span6">
											<div class="control-group">
												<label for="nom" class="control-label">Nom:</label>
												<div class="controls">
													<input class="span12" type="text" name="nom" id="nom">
												</div><!-- /controls -->
											</div><!-- /control-group -->
										</div><!-- /span6 -->
										
									</div><!-- /row-fluid -->
									
									<div class="row-fluid">
										<div class="span6">
											<div class="control-group">
												<label for="email" class="control-label">Email:</label>
												<div class="controls">
													<input class="span12" type="email" name="email" id="email">
												</div><!-- /controls -->
												{% if contact_form.email.errors %}
													{% for error in contact_form.email.errors %}
														{{ error }}
													{% endfor %}
												{% endif %}
											</div><!-- /control-group -->
										</div><!-- /span6 -->
										<div class="span6">
											<div class="control-group">
												<label for="tel" class="control-label">Telephone :</label>
												<div class="controls">
													<input class="span12" type="tel" name="tel" id="tel">  
												</div><!-- /controls -->
											</div><!-- /control-group -->
										</div><!-- /span6 -->
									
									</div><!-- /row-fluid -->
									
									<div class="row-fluid">
										<div class="span12">
											<div class="control-group">
												<label for="message" class="control-label">Message:</label>
												<div class="controls">
													<textarea class="span12" type="text" name="message" id="message" rows="4"></textarea>
												</div><!-- /controls -->
												{% if contact_form.message.errors %}
													{% for error in contact_form.message.errors %}
														{{ error }}
													{% endfor %}
												{% endif %}
											</div><!-- /control-group -->
										</div><!-- /span12 -->
									</div><!-- /row-fluid -->
									
					                <input type="hidden" name="save" value="contact">  
									<button type="submit" class="btn-inverse pull-right">
										Envoyer 
										<i class="icon-circle-arrow-right"></i>
									</button>
							</form><!-- /form -->
						</div><!-- /span8 -->	
						
						<div id="footer">
							<div class="row-fluid">
								<div class="span12">
									
								</div><!-- /span12 -->
							</div><!-- /row-fluid -->	
						</div><!-- /footer -->
					</div><!-- /row-fluid -->	
				</div><!-- /container-fluid -->
				
			</div><!-- /container -->	
		</div><!-- /wrapper -->		
	
		<!-- JAVASCRIPTS -->
		<script type="text/javascript" src="http://www.basicoh.com/demo/flat/agency/js/waypoints.min.js"></script>
		<script type="text/javascript" src="http://www.basicoh.com/demo/flat/agency/js/jquery.knob.js"></script>
		<script type="text/javascript" src="http://www.basicoh.com/demo/flat/agency/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="http://www.basicoh.com/demo/flat/agency/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://www.basicoh.com/demo/flat/agency/js/main.js"></script>
{% endblock %}

{% block main %}
{% trans "This is the homepage." %}
{% endblock %}
